<div class="bg-gradient-azul">
  <div class="container mt-5 text-center">
    <div class="card shadow-sm p-5">
      <!--Caja con borde y fondo blanco, con pequeña sombra y espacio interno-->
      <h2 class="text-success mb-4">Pedido confirmado</h2>
      <p class="lead">
        Gracias por su compra. Su pedido está siendo procesado.
      </p>
      <p>En breve recibirá un correo con los detalles del mismo.</p>

      <div class="mt-4 d-flex justify-content-center">
        <button
          class="btn btn-primary d-flex align-items-center gap-2"
          (click)="volver()"
        >
          <i class="bi bi-box-seam-fill"></i>
          Volver a productos</button
        ><!--Botón centrado y con icono-->
      </div>
    </div>
  </div>
</div>
